<?xml version="1.0" encoding="gb2312"?>

<config>
  <!--业务数据库参数-->
  <database>
    <!--数据库驱动-->
    <driver>com.mysql.jdbc.Driver</driver>
    <!--数据库服务器URL-->
    <url>jdbc:mysql://125.223.113.81:3306/heumobile?useUnicode=true&amp;characterEncoding=UTF-8</url>
    <!--数据库用户名-->
    <user>root</user>
    <!--数据库用户密码-->
    <password>hrbeu@)!@</password>
    <!--是否加密-->
    <encrypt>N</encrypt>
    <!--加密转换-->
    <convert>N</convert>
  </database>
  <!--日志参数-->
  <log>
    <system>Y</system>
    <error>Y</error>
  </log>
</config>
